[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.lua]
quote_style = single
align_call_args = true
local_assign_continuation_align_to_first_expression = true
keep_one_space_between_table_and_bracket = false
align_table_field_to_first_field = true
remove_expression_list_finish_comma= true
remove_empty_header_and_footer_lines_in_function = true

[*.json]
indent_style = tab

[*.js]
indent_style = tab

[{Makefile,**.mk}]
indent_style = tab
